html, body {
  padding: 0;
  margin: 0;
}

body {
  /* background: #F7F7F7; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';;
}

header {
  color: #fff;
  background: #3274D3;
  padding: 30px 10px;
  text-align: center;
}

h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 60px;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  border-bottom: 2px solid #eee;
  margin-top: 0;
  margin-bottom: 16px;
  color: #3275d2;
  padding: 8px 4px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 400;
}

hr {
  margin-top: 1px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}




.h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.masonry {
  margin: 20px auto;
  columns: 1;
  column-gap: 30px;
}

@media (min-width: 992px) {
  .masonry {
    columns: 2;
  }
}

@media (min-width: 1500px) {
  .masonry {
    columns: 3;
  }
}


.item {
  width: 100%;
  break-inside: avoid;
  margin-bottom: 40px;
}

pre[class*=language-] {
  border-radius: 4px;
  padding: 0.8em 1em;
  font-size: 14px;
  margin: 0 0 1rem;
}
/* pre[class*=language-] {
  background: #f6f7f8;
  box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 1px rgb(85 102 119 / 40%);
} */


.app {
  margin-left: 150px;
}
.navbarbox {
  position: fixed;
  top: 0;
  bottom: 0px;
  width: 150px;
  left: 0;
  background: #fff;
  box-shadow: 0 6px 8px rgb(85 102 119 / 3%), 0 1px 20px rgb(85 102 119 / 24%);
}

